/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.map-view {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.map-view img {
    flex-shrink: 0;
    /* object-fit: cover; */
    min-width: 100%;
    min-height: 100%
}